<h2>会社全員のシフト</h2>
  <% @users.each do |user| %>
    <h2><%= user.email %>さんのシフト</h2>
    <% user.collected_shifts.each do |shift| %>
      <li>
        <%= shift.started_at %>
        <%= shift.finished_at %>
      </li>
    <% end %>
  <% end %>