<div class="wrapper col-md-10 col-md-offset-1 all-staffs-table">
  <h2>スタッフ一覧</h2>
  <table>
    <tr>
      <th>スタッフ名</th>
      <th>アドレス</th>
      <th>LINE ID</th>
      <th>電話番号</th>
      <th>確定シフト</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td>hoge0123</td>
        <td>090-1234-5678</td>
        <td>0日</td>
      </tr>
    <% end %>
  </table>
</div>
