<div class="col-md-9 statics">
  <h3>概要</h3>
  <p>アルバイトなどのシフトを管理できるアプリです。</p>
  <p>雇用主は管理者としてアプリを登録することができ、作成した会社アカウントを、
     従業員が登録することで、シフトを管理することができます。</p>
     <h3>使い方</h3>
     <div>
       <h4>1. 管理者として使う</h4>
         <ol>
           <li>まずサインアップをし、ヘッダの「会社：未登録」→ 「管理者の方はこちら」から会社情報の登録を行ってください。</li>
           <li>
             「登録する」をクリックすると、認証キーが発行されます。なお、認証キーは会社ページより確認できます。</br>
              万が一、外部に漏れた場合でも簡単に再発行が可能です。会社ページより、「トークン再生成」をクリックしてください。
           </li>
           <li>この認証キーを従業員に配布し、各従業員がマイページで会社を登録することでシフトや勤怠の管理が行えます。</li>
           <li>「スタッフ一覧」よりスタッフの個人情報が確認できます。管理者へ変更したい場合や、基本給を変更したい場合はこちらから作業が行えます。</li>
           <li>
             「社員シフト一覧」にスタッフが提出したシフトの一覧が表示されます。</br>
              クリックすることで確定シフトに変更でき、確定したシフトは「確定シフト」より確認できます。
           </li>
           <li>
             「勤怠実績」はスタッフが提出した勤怠を元に、月の合計勤務時間および、基本給から計算した給与が表示されます。</br>
              管理者権限で、スタッフの勤怠を修正することが可能です。必要な場合は、「勤怠詳細」をクリックして各スタッフページより編集を行ってください。</br>
              また、月ごとに検索を行うことが可能です。
           </li>
         </ol>
     </div>
     <div>
       <h4>2. 従業員として使う</h4>
       <ol>
         <li>まずサインアップをし、「マイページ」 → 「アカウント設定」 → 「所属を登録する」と進みます。</li>
         <li>会社名と配布された認証キーを入力すれば登録完了です。</li>
         <li>マイページより、シフトの提出および勤怠の入力が可能です。</li>
       </ol>
     </div>
</div>
