<div class="statics">
  <p>(c) 2020 Shu Omura</p>
  <p>Released under the MIT license</p>
  <a href="https://opensource.org/licenses/mit-license.php">https://opensource.org/licenses/mit-license.php</a>
</div>
