$main-color: rgba(78, 161, 255, 0.9);
@mixin side-list {
  padding: 10px 4px;
  display: inline-block;
  width: 100%;
  color: #1c1e21;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  background-color:rgb(247, 247, 247);
  .container-fluid {
    padding-top: 50px;
    text-align: center;
    min-height: 100%;
  }
}

header {
  .header-style {
    padding: 0;
    margin: 0;
    height: 5px;
    background-color: $main-color;
    .navbar-brand {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 2px;
      color: white;
    }
    a.dropdown-toggle {
      color: white;
      font-weight: bold;
      font-size: 16px;
      &:hover {
        background-color: $main-color;
      }
    }
  }
}

// flash
.alert {
  margin: 0;
}

// 共通レイアウト
.wrapper {
  margin-top: 50px;
  margin-bottom: 30px;
}

.sidebar {
  margin: 60px 0 0 10px;
  padding-left: 30px;
  font-size: 16px;
  text-align: left;
  li {
    list-style-type: none;
    strong {
      @include side-list
    }
    a {
      @include side-list;
      &:hover {
        text-decoration: none;
        background-color: #d8d7d7;
        border-radius: 6px;
      }
    }
  }
  ul {
    margin-top: 10px;
    padding: 10px 0 0 0;
    border-top: 1px solid grey;
  }
}
