.simple-calendar {
  .calendar-heading {
    text-align: center;
    .head-title {
      padding: 5px 20px;
      background-color: white;
      border: 1px solid rgb(200, 200, 200);
      border-radius: 8px;
      font-size: 20px;
      display: inline-block;
      .calendar-title {
        padding: 0 30px;
      }
    }
  }
  .table-striped {
    margin: 10px;
  }
  .day {
    padding: 2px 4px;
    text-align: left;
  }
  .wday-0 {
    color: red;
  }
  .has-events {
    a {
      display: inline-block;
      padding:3px 7px;
      margin: 1px 0;
      font-size: 12px;
      font-weight: 300;
      border-radius: 4px;
      color: white;
      background-color: rgb(63, 81, 181);
      &:hover {
        text-decoration: none;
        background-color: rgb(94, 108, 190);
      }
    }
  }
}