// top
.top-page {
  background-image: url('clocks.jpg');
  background-size: cover;
  height: 715px;
  .top-form {
    box-shadow: 5px 5px 15px gray;
    margin-top: 180px;
    padding: 40px 20px 60px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

$dark-color: rgba(167, 167, 167, 0.9);
.dark {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  background-color: $dark-color;
  &:hover {
    background-color: darken($dark-color, 10%);
    color: white;
  }
}

.light {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  background-color: darken($main-color, 5%);
  &:hover {
    background-color: darken($main-color, 10%);
    color: white;
  }
}

// privacy, support, overview
.statics {
  margin: 30px;
  text-align: left;
  line-height: 22px;
}