// registrations, sessions, passwords
.main-wrapper{
  img {
    margin-top: 160px;
    width: 70%;
    height: 70%;
  }
  .form-area {
    margin-top: 80px;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 5px 5px 15px gray;
  }
  .oauth-form {
    margin-top: 30px;
    border-top: 2px solid rgb(200, 200, 200);
    .facebook {
      margin-top: 20px; 
      background-color: rgb(59, 89, 152);
      color: white;
      font-weight: bold;
      &:hover {
        background-color: rgb(28, 51, 100);
      }
    }
    .google {
      border: 1px solid rgb(200, 200, 200);
      &:hover {
        border: 1px solid grey;
      }
    }
    .icon {
      padding-right: 10px;
    }
  }
}

// registrations#edit, users#show
.right-side-wrapper {
  text-align: left;
  .links {
    margin-top: 120px;
    text-align: left;
  }
  h1 {
    margin-bottom: 40px;
    padding: 30px 0px;
    border-bottom: 2px solid rgb(170, 170, 170);
    font-weight: bold;
  }
  h4 {
    margin: 0;
  }
}

// users#index

table {
  margin-top: 30px;
  border-radius: 6px;
  caption {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  width: 100%;
  background-color: white;
  th{
    padding : 20px 10px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(61, 61, 61);
  }
  
  td{
    padding : 20px 10px;
    text-align: center;
  }
}
th,td{
  border-top: solid 1px #aaaaaa;
}

