// password/new
.password-form-area {
  margin-top: 80px;
  height: 60%;
  background-color: rgb(255,255,255);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
  box-shadow: 5px 5px 15px gray;
}
