@import "bootstrap-sprockets";
@import "bootstrap";
@import "partials/*";

// body
body {
  padding-top: 50px;
}

// _header
header {
  .header-style {
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(200, 200, 200);
  }
}
