<footer>
  <nav class="navbar footer-style">
    <div class="navbar-collapse collapse" id="navbar-target">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to '概要', statics_overview_path %></li>
        <li><%= link_to 'プライバシー', statics_privacy_path %></li>
        <li><%= link_to 'サポート', statics_support_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">@2020 ShiftAPP</li>
      </ul>
    </div>
  </div>
  </nav>
</footer>
