<h2>ようこそ、<%= @resource.email %>さん!</h2>

<p>ご利用頂いている本メールアドレスにて、パスワードの再設定リクエストがありました。</p>
<p>以下のリンクでパスワードの再設定が行えます。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>なお、このメールに見覚えがない場合は無視してください。</p>
<p>上記リンクにて、パスワードが再設定されるまで、パスワードの変更は行われません。</p>
